body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #06ebdfd8;
}

#game-container {
    position: relative;
    border: 2px solid #b4c011;
    opacity: 0.8;
    background-color: rgb(12, 252, 12); /* Set the background color inside the border to green */
    opacity: 0,3;
}

#game-canvas {
    background-color: #d31818; /* Gray background for the road */
}
#score {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}


#restart-button, #pause-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}